<div class="body">
<div class="container">
	<div clas="row">
		<h1><h2><%= @cd.cd_title %></h2></h1>
		<div class="col-lg-4">
			<%= attachment_image_tag(@cd, :cd_image, :fill, 300, 300) %>
		</div>
		<div class="col-lg-8">
			<p><%= @cd.cd_profile %></p>
		</div>
	</div>
</div>
<div class="container">
	<div clas="row">
		<div class="col-lg-6">
			<strong><%= @cd.cd_title %></strong>
			<p><%= link_to @cd.artist.artist_name, artist_path(@cd.artist.id) %></p>
			<p>価格: ¥ <%= @cd.price %></p>
			<% if user_signed_in? && current_user.admin?  %>
				<p>在庫数: <%= @cd.stock %></p>
			<% end %>

			<div>

					<div class="inline-block">
						<% if current_cart.cart_items.find_by(cd_id: @cd.id).present? %>
							<div class="itemInCartNotif">
								<p>This product is alredy in your cart!</p>
							</div>
							<% itemInCart = current_cart.cart_items.find_by(cd_id: @cd.id) %>
							<%= form_for(itemInCart) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
						<% else %>
							<%= form_for(@cart_item) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<%= f.hidden_field :cd_id, value: @cd.id %>
								<%= f.hidden_field :cart_id, value: current_cart.id %>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
				<% if user_signed_in? %>
					<div class="inline-block">
						<%= render 'favorite', cd: @cd %>
					</div>
				<% else %>
					<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-sm">
  							<i class="far fa-heart" aria-hidden="true"></i>
						</button>
						<%= @cd.favorites.count %>
						<%= render 'modal' %>
				<% end %>


				<% if user_signed_in? && current_user.admin?  %>
					<div class="inline-block">
						<%= link_to "編集", edit_cd_path(@cd.id), class: "btn btn-default" %>
						<%= link_to "削除", cd_path(@cd.id), method: :delete, class: "btn btn-default" %>
					</div>
				<% end %>


			<div>
				<h3>コメント一覧</h3>
				<div>
					<% if @cd.comments.present? %>
						<% @cd.comments.each do |comment| %>
							<div>
								<strong><%= comment.user_id %>さんのコメント『<%= comment.comment_body %>』（CDのid: <%= comment.cd_id %>コメントのId: <%= comment.id %>)</strong>
									<% comeid = comment.id %>
									<% if comment.user == current_user %>
									<button class="toEditForm">編集</button>
										<div class="EditForm">
											<%= form_for(comment) do |f| %>
												<div>
													<%= f.label :comment_body %>
  													<%= f.text_field :comment_body, class: "form-control" %>
  													<%= f.hidden_field :cd_id, value: @cd.id %>
  												</div>
  													<%= f.submit  class: "btn btn-default" %>
											<% end %>
										</div>
									<% end %>
									<% if user_signed_in? %>
										<% if current_user.admin? || comment.user == current_user %>
											<%= link_to "コメントを削除しますか?", cd_comment_path(@cd.id,comeid.to_i), method: :delete, data: {confirm: '本当に削除しますか'} %>
										<% end %>
									<% end %>

									<% if comment.comment_replies.present? %>
										<table>
										<% comment.comment_replies.each do |rep| %>
											<tr>
												<td>コメントID: <%= rep.comment.id %></td>
												<td>ユーザーId: <%= rep.user_id %></td>
												<td><strong><%= rep.comment_reply_body %></strong></td>
												<td>Id: <%= rep.id %></td>
												<% if rep.user == current_user %>
												<td><button class="toEditForm">編集</button>
													<span class="EditForm">
														<% @rep = rep %>
															<%= form_for(@rep) do |f| %>
															<span>
																<%= f.label :comment_reply_body, "返信内容" %>
																<%= f.text_field :comment_reply_body, class: "form-control" %>
																<%= f.hidden_field :comment_id, value: comment.id %>
																<%= f.hidden_field :user_id, value: current_user.id %>
															</span>
																<%= f.submit %>
															<% end %>
													</span>
												</td>
												<% end %>
											<% if user_signed_in? %>
												<% if current_user.admin? || comment.user == current_user %>  %>
												<td><%= link_to "返信を削除しますか?", comment_reply_path(rep.id), method: :delete, data: {confirm: '本当に削除しますか?'} %></td>
												<% end %>
											</tr>
											<% end %>
										<% end %>
										</table>
									<% end %>

									<% comeid = comment.id %>
									<% if user_signed_in? %>
										<button class="toReplyForm">返信</button>
										<span class="ReplyForm">
										<%= form_for [comment, @comment_reply], url: comment_comment_replies_path(comment_id: comeid.to_i) do |f| %>
											<span>
												<%= f.label :comment_reply_body, "返信内容" %>
												<%= f.text_field :comment_reply_body, class: "form-control" %>
												<%= f.hidden_field :comment_id, value: comment.id %>
												<%= f.hidden_field :user_id, value: current_user.id %>
											</span>
										<%= f.submit %>
										<% end %>

										</span>
									<% else %>
										<span class="inline-block">
											<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-sm">返信</button>
												<%= render 'modal' %>
										</span>
									<% end %>
								</div>
							<% end %>
						<% end %>
						</div>
				</div>

<!-- New Comment -->
				<% if user_signed_in? %>
				<div>
				<%= form_for [@cd, @comment] do |f| %>
					<div>
					<%= f.label :comment_body, "コメント内容" %>
  					<%= f.text_field :comment_body, class: "form-control" %>
  					<%= f.hidden_field :cd_id, value: @cd.id %>
  					</div>
  					<%= f.submit "コメント送信", class: "btn btn-default" %>
				<% end %>
				</div>
				<% else %>
					<div class="inline-block">
						<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-sm">コメントを送る</button>
						<%= render 'modal' %>
					</div>
				<% end %>
<!-- [END] New Comment -->
			</div>
		</div>
	</div>
</div>

		</div>
		<div class="col-lg-6">
			AREA FOR SONGS
		</div>
	</div>
</div>

<div class="container">
	<div clas="row">
		<div class="col-lg-2">
			<%= link_to "CD一覧に戻る", cds_path, class: "btn btn-default" %>
		</div>
		<div class="col-lg-10">
		</div>
	</div>
</div>


<style>
	.ReplyForm, .EditForm {
		display: none;
	}
	.inline-block {
		display: inline-block;
	}
	.quantity-field {
		width: 50px;
		border-radius: 3px;
	}
	.itemInCartNotif {
		background-color: pink;
		padding: 5px 10px 0 10px;
	}
</style>