<div class="container">
	<div clas="row">
		<div class="col-lg-4">
			<%= attachment_image_tag(@cd, :cd_image, :fill, 300, 300) %>
		</div>
		<div class="col-lg-8">
			<h1><%= @cd.cd_title %></h1>
			<p><%= @cd.cd_profile %></p>
		</div>
	</div>
</div>
<div class="container">
	<div clas="row">
		<div class="col-lg-6">
			<strong><%= @cd.cd_title %></strong>
			<p><%= link_to @cd.artist.artist_name, artist_path(@cd.artist.id) %></p>
			<p>価格: ¥ <%= @cd.price %></p>
			<% if user_signed_in? && current_user.admin?  %>
				<p>在庫数: <%= @cd.stock %></p>
			<% end %>

			<div>

					<div class="inline-block">
						<% if current_cart.cart_items.find_by(cd_id: @cd.id).present? %>
							<div class="itemInCartNotif">
							<% itemInCart = current_cart.cart_items.find_by(cd_id: @cd.id) %>
							<%= form_for(itemInCart) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:20px;"></i>
									<% end %>
								</div>
							<% end %>
							<p class="notifText">購入する数量を変更しますか？</p>
							</div>
						<% else %>
							<%= form_for(@cart_item) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<%= f.hidden_field :cd_id, value: @cd.id %>
								<%= f.hidden_field :cart_id, value: current_cart.id %>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:20px;"></i>
									<% end %>
								</div>
							<% end %>
						<% end %>
					</div>
				<% if user_signed_in? %>
					<div class="inline-block">
						<%= render 'favorite', cd: @cd %>
					</div>
				<% else %>
					<button type="button" data-toggle="modal" data-target="#exampleModal" class= "btn btn-default btn-sm">
  							<i class="far fa-heart" aria-hidden="true"></i>
						</button>
						<%= @cd.favorites.count %>
						<%= render 'modal' %>
				<% end %>


				<% if user_signed_in? && current_user.admin?  %>
					<div class="inline-block">
						<%= link_to "編集", edit_cd_path(@cd.id), class: "btn btn-default" %>
						<%= link_to "削除", cd_path(@cd.id), method: :delete, class: "btn btn-default" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div clas="row">
		<div class="col-lg-6">
				<h3 class="divisionTitle">コメント一覧</h3>
				<div>
					<% if @cd.comments.present? %>
						<% @cd.comments.each do |comment| %>
							<div>
								<strong><%= comment.user.user_name %>: <%= comment.comment_body %></strong>
									<% comeid = comment.id %>
									<% if comment.user == current_user %>
									<button class="toEditForm btn btn-default btn-sm">編集</button>
										<div class="EditForm">
											<%= form_for(comment) do |f| %>
												<div>
													<%= f.label :comment_body %>
  													<%= f.text_field :comment_body, class: "form-control" %>
  													<%= f.hidden_field :cd_id, value: @cd.id %>
  												</div>
  													<%= f.submit  class: "btn btn-default" %>
											<% end %>
										</div>
									<% end %>
									<% if user_signed_in? %>
										<% if current_user.admin? || comment.user == current_user %>
											<%= link_to "コメント削除", cd_comment_path(@cd.id,comeid.to_i), method: :delete, data: {confirm: '本当に削除しますか'} %>
										<% end %>
									<% end %>

									<% if comment.comment_replies.present? %>
										<table>
										<% comment.comment_replies.each do |rep| %>
											<tr>
												<td><i class="fas fa-arrow-right" style="font-size: 10px;"></i> <%= rep.user.user_name %>: <%= rep.comment_reply_body %></td>
												<% if rep.user == current_user %>
												<td><button class="toEditForm btn btn-default btn-sm">編集</button>
													<span class="EditForm">
														<% @rep = rep %>
															<%= form_for(@rep) do |f| %>
															<span>
																<%= f.label :comment_reply_body, "返信内容" %>
																<%= f.text_field :comment_reply_body, class: "form-control" %>
																<%= f.hidden_field :comment_id, value: comment.id %>
																<%= f.hidden_field :user_id, value: current_user.id %>
															</span>
																<%= f.submit %>
															<% end %>
													</span>
												</td>
												<% end %>
											<% if user_signed_in? %>
												<% if current_user.admin? || comment.user == current_user %> 
												<td><%= link_to "返信を削除", comment_reply_path(rep.id), method: :delete, data: {confirm: '本当に削除しますか?'} %></td>
												<% end %>
											</tr>
											<% end %>
										<% end %>
										</table>
									<% end %>

									<% comeid = comment.id %>
									<% if user_signed_in? %>
										<button class="toReplyForm btn btn-default btn-sm">返信</button>
										<span class="ReplyForm">
										<%= form_for [comment, @comment_reply], url: comment_comment_replies_path(comment_id: comeid.to_i) do |f| %>
											<span>
												<%= f.label :comment_reply_body, "返信内容" %>
												<%= f.text_field :comment_reply_body, class: "form-control" %>
												<%= f.hidden_field :comment_id, value: comment.id %>
												<%= f.hidden_field :user_id, value: current_user.id %>
											</span>
										<%= f.submit %>
										<% end %>

										</span>
									<% else %>
										<span class="inline-block">
											<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-sm">返信</button>
												<%= render 'modal' %>
										</span>
									<% end %>
								</div>
							<% end %>
						<% end %>
						</div>

<!-- New Comment -->
				<% if user_signed_in? %>
				<div>
				<%= form_for [@cd, @comment] do |f| %>
					<div>
					<%= f.label :comment_body, "コメント内容" %>
  					<%= f.text_field :comment_body, class: "form-control" %>
  					<%= f.hidden_field :cd_id, value: @cd.id %>
  					</div>
  					<%= f.submit "コメント送信", class: "btn btn-default" %>
				<% end %>
				</div>
				<% else %>
					<div class="inline-block">
						<button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-default btn-sm">コメントを送る</button>
						<%= render 'modal' %>
					</div>
				<% end %>
<!-- [END] New Comment -->
			</div>


		<div class="col-lg-6">
			<h3 class="divisionTitle">収録曲</h3>
			<% if @cd.disc_numbers.present? %>
			<div>
				<div>
					<button class="btn btn-default btn-sm active">Disc No. <%= @fstDisc.disc_number %></button>
					<% @restDiscs.each do |restDisc| %>
						<button class="btn btn-default btn-sm discBtn">Disc No. <%= restDisc.disc_number %></button>
					<% end %>
				</div>
					<% @fstDisc.songs.each do |s| %>
						<div>
							<div class="inline-block"><%= s.song_order %></div>
							<div class="inline-block"><%= s.song_name %></div>
						</div>
					<% end %>
					<% @restDiscs.each do |restDisc| %>
					<% restDisc.songs.each do |s| %>
						<div class="restDisc hidden">
							<div class="inline-block"><%= s.song_order %></div>
							<div class="inline-block"><%= s.song_name %></div>
						</div>
					<% end %>
					<% end %>
			</div>
			<% end %>
		</div>
	</div>
</div>

<div class="container">
	<div clas="row">
		<div class="col-lg-2">
			<%= link_to "CD一覧に戻る", cds_path, class: "btn btn-default btn-sm" %>
		</div>
		<div class="col-lg-10">
		</div>
	</div>
</div>


<style>
	.ReplyForm, .EditForm {
		display: none;
	}
	.inline-block {
		display: inline-block;
	}
	.quantity-field {
		width: 50px;
		border-radius: 3px;
	}
	.itemInCartNotif {
		background-color: lightgray;
		padding: 5px 10px 0 10px;
		border-radius: 3px;
		display: inline-block;
	}
	.notifText {
		font-size: 10px;
	}
	 .divisionTitle {
	 	background-color: black;
	 	font-weight: bold;
	 	color: white;
	 	padding: 10px;
	 }
	 .hidden {
	 	display: none;
	 }
</style>

<script>
	$('.discBtn').click(function(){
		$(this).toggle(function(){
			$(this).addClass('active')
		});
		$('.restDisc').toggle(function(){
			$('.restDisc').removeClass('hidden');
		});
	});
</script>