<h2>ユーザー登録情報更新</h2>
<div class=users_editing>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <div class="form-group row">
      <div class="col-lg-6">
         <%= f.label :last_name , "姓" %>
         <%= f.text_field :last_name %>
      
         <%= f.label :first_name, "名:"  %> 
         <%= f.email_field :first_name%>
      
        <%= f.label :last_name_kana, "姓(カナ)" %>
        <%= f.text_field :last_name_kana %>
       
        <%= f.label :first_name_kana, "名(カナ)" %> 
        <%= f.email_field :first_name_kana%>
     
         <%= f.label :post_code, "郵便番号" %> 
         <%= f.email_field :post_code%>
      
         <%= f.label :phone_number, "電話番号" %> 
         <%= f.email_field :phone_number%>
     
         <%= f.label :user_name, "ユーザー名" %> 
         <%= f.email_field :user_name%>
     
         <%= f.label :email, "Email" %> 
         <%= f.email_field :email%>
     
     <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>