<div class="blank">
</div>
<h2>DEVISEユーザー新規登録</h2>

<div class="example"></div>
  <p>※登録情報は配送時に使用します。</p>
  <P>※登録後にマイページからも編集できます。</P>
  <div class=content_1>
     <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= render "devise/shared/error_messages", resource: resource %>
     <div class="form-group row">
       <%= f.label :user_name , "ユーザー名:" %>
       <%= f.text_field :user_name %>
       <p>※ユーザ名は半角英数字のみです</p>
      </div>
      <div class="field">
        <%= f.label :email, "Email:"  %> 
        <%= f.email_field :email,class: "email"%>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード:" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, class:"password" %>
      </div>  
       <div class="form-group row">
        <%= f.label :last_name, "姓" %>
        <%= f.text_field :last_name %>
      </div>
       <div class="form-group row">
        <%= f.label :first_name, "氏" %>
        <%= f.text_field :first_name %>
      </div>
      <div class="form-group row">
        <%= f.label :last_name_kana, "姓(カナ)" %>
        <%= f.text_field :last_name_kana %>
      </div>
      <div class="field">
        <%= f.label :first_name_kana, "名(カナ)" %> 
        <%= f.text_field :email%>
     </div>
     <div class="field">
       <%= f.label :post_code, "郵便番号" %> 
       <%= f.text_field :post_code%>
       <P>※ハイフン不要です</P>
     </div>
     <div class="field">
       <%= f.label :phone_number, "電話番号" %> 
       <%= f.text_field :phone_number%>
       <P>※ハイフン不要です</P>
    </div>
  </div>

    <%= f.submit "登録", class:"btn btn-default" %>
    <% end %>
   </div>



<%= render "devise/shared/links" %>

<style>
  .blank {
    height: 100px;
    width:100% ;
  }
</style>