<div class="col-lg-4">
<%= form_with model: artist do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
  <div>
  <%= f.label :artist_image %>
  <%= f.attachment_field :artist_image, class: "form-control" %>
  </div>
	<div>
	<%= f.label :artist_name %>
  	<%= f.text_field :artist_name, class: "form-control" %>
  	</div>
  	<div>
	<%= f.label :artist_profile %>
  	<%= f.text_area :artist_profile, rows: "5", class: "form-control" %>
  	</div>
  	<%= f.submit  class: "btn btn-default" %>
<% end %>
</div>