<div class="container">
	<div clas="row">
		<div class="col-lg-10">
		<p id="notice"><%= notice %></p>
		<h1><%= @pickup.cd.cd_title %></h1>
		</div>
		<div class="col-lg-2">
		</div>
	</div>
</div>

<div class="container">
	<div clas="row">
		<div class="col-lg-4">
			<%= attachment_image_tag(@pickup.cd, :cd_image, :fill, 300, 300) %>
		</div>
		<div class="col-lg-8">
			<p><%= @pickup.cd.cd_profile %></p>
		</div>
	</div>
</div>

<div class="container">
	<div clas="row">
		<div class="col-lg-4">
			<h3><%= @pickup.cd.cd_title %></h3>
			<h5><%= link_to @pickup.cd.artist.artist_name, artist_path(@pickup.cd.artist.id) %></h5>
			<h5>Price: <%= @pickup.cd.price %></h5>
			<% if user_signed_in? && current_user.admin?  %>
				<h5>Stocks: <%= @pickup.cd.stock %></h5>
			<% end %>

			<div>
				<% if user_signed_in? %>
					<div class="inline-block">
							<%= form_for(@cart_item) do |f| %>
								<div class="inline-block">
									Quantity: <%= f.number_field :quantity %>
								</div>
								<div class="inline-block">
									<%= button_tag type: 'submit', class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
					</div>

					<div class="inline-block">
						<%= render 'cds/favorite', cd: @pickup.cd %>
					</div>
			<% else %>
					<div class="inline-block">
							<%= form_for(@cart_item) do |f| %>
								<div class="inline-block">
									<p>Quantity: <%= f.number_field :quantity, class: "form-control" %></p>
								</div>
								<%= f.hidden_field :user_id, value: "0" %>
								<div class="inline-block">
									<%= button_tag type: 'submit', class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
					</div>

					<div class="inline-block">
						<button type="button" data-toggle="modal" data-target="#exampleModal">
  							<i class="far fa-heart" aria-hidden="true"></i>
						</button>
						<%= @pickup.cd.favorites.count %>

						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  							<div class="modal-dialog" role="document">
    							<div class="modal-content">
      								<div class="modal-header">
       									 <h5 class="modal-title" id="exampleModalLabel">Log In to Throw Favorite?</h5>
        								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
         									<span aria-hidden="true">&times;</span>
      									</button>
      								</div>
      								<div class="modal-body">
      									<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-sm" %>
      									<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default btn-sm" %>
      								</div>
      								<div class="modal-footer">
       									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      								</div>
    							</div>
  							</div>
						</div>
					</div>
			<% end %>
			</div>
		</div>
		<div class="col-lg-8">
			<div id="pickupTitle">
				<%= @pickup.pickup_title%>
			</div>
			<div id="pickupBody">
				<%= @pickup.pickup_body %>
			</div>
		</div>
		<%= link_to 'Edit Pickup', edit_pickup_path(@pickup), class: "btn btn-default" %>
	</div>
</div>


<div class="container">
	<div clas="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-8">
			<h3 id="allPickups">All Pickups</h3>
		</div>
</div>
</div>

		<% @pickups.each do |pick| %>
		<div class="container padding">
		<div class="row eachPick">
			<div class="col-lg-4">
			</div>
		<%= link_to cd_path(pick.cd) do %>
			<div class="col-lg-1"></div>
			<div class="col-lg-1"><%= attachment_image_tag(pick.cd, :cd_image, :fill, 100, 100) %></div>
			<div class="col-lg-1"></div>
			<div class="col-lg-2"><%= pick.cd.cd_title %><br><%= pick.cd.artist.artist_name %></div>
			<div class="col-lg-3"><%= pick.pickup_title %></div>
		<% end %>
		</div>
		</div>
		<% end %>

<div class="container">
	<div clas="row">
		<div class="col-lg-12 text-center">
			<%= link_to 'Back', root_path, class: "btn btn-lg btn-default" %>
		</div>
	</div>
</div>

<style>
	.padding {
		padding: 10px 0;
		margin: 10px 0;
	}
	#pickupTitle {
		background-color: black;
		color: white;
		font-weight: bold;
		padding: 5px;
		font-size: 20px;
	}
	#allPickups {
		display: block;
		background-color: black;
		color: white;
		font-weight: bold;
		padding: 5px;
		font-size: 20px;
	}
	#pickupBody {
		padding: 10px;
	}
	.hoverGray:hover {
		background-color: lightgray;
		border: 3px black;
		padding: 10px 10px;
	}
	.hoverGray div {

	}
	.inline-block {
		display: inline-block;
	}
	.eachPick div {
		display: inline-block;
		height: 100px;
	}
</style>