<h2>Edit</h2>
<div class= "container">
<%= form_for(@user) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
     <div class="row">
      <div class="col-lg-6">
         <%= f.label :last_name , "姓" %>
         <%= f.text_field :last_name %>

         <%= f.label :first_name, "名" %>
         <%= f.text_field :first_name %>
      </div>
     </div>
     <div class="row">
       <div class="col-lg-6">
         <%= f.label :last_name_kana, "姓(カナ)" %>
         <%= f.text_field :last_name_kana %>

        <%= f.label :first_name_kana, "名(カナ)" %> 
        <%= f.text_field :first_name_kana%>
       </div>
     </div>
     <div class="row">
       <div class="col-lg-6">
         <%= f.label :post_code, "郵便番号" %> 
         <%= f.text_field :post_code%>
         </div>
      </div>
      <div class="row">
       <div class="col-lg-6">
         <%= f.label :phone_number, "電話番号" %> 
         <%= f.text_field :phone_number%>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-6">
         <%= f.label :user_name, "ユーザー名" %> 
         <%= f.text_field :user_name%>
       </div>
      </div>

   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
<%= f.hidden_field :admin, value: true %>
</div>
<%= f.text_field :encrypted_password, class: "form-control" %>
  <div class="actions">
    <%= f.submit "更新する" %>
  </div>
<% end %>
<%= link_to "Back", :back %>