<p id="notice">
<%= notice %>
</p>


<div class=sample>
  <h2>ユーザー一覧</h2>
    <h3> </h3>
</div>
<table class="table">
  <h3> 絞り込み </h3>
<thead>
    <th>id</th>
    <th>姓</th> 
    <th>名</th> 
    <th>フリガナ (氏)</th> 
    <th>フリガナ (名)</th> 
    <th>Email</th> 
    <th>登録日時</th> 
    <th>注文回数</th>
    <th>Admin</th> 
    <th>削除</th> 
</thead>  

<tbody>
  <% @users.each do |user| %>
  <tr>
     <td><%= user.user_name %></td>
     <td><%= user.last_name %></td>
     <td><%= user.first_name %></td>
     <td><%= user.last_name_kana %></td>
     <td><%= user.first_name_kana %></td>
     <td><%= user.email %></td>
     <td><%= user.created_at %></td>
     <td><%= user.orders.count %></td>
     <td><% if user.admin = true %>
        <%= link_to "Admin取消", destroy_admin_path(user), method: :delete, class: "btn btn-secondary btn-sm" %>
     <% else %>
        <%= link_to "Adminに設定", add_admin_path(user), method: :post, class: "btn btn-default btn-sm" %></td>
    <% end %>
     <td><%= link_to 'x', user, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-default btn-sm" %></td>
  </tr>
  <% end %>
</tbody>
</table>
<br>
