
<div class="container">
   <div class="row">
   	 <div class="col-md-4 col-md-offset-4">
       <h2> マイページ</h2>
       <% if @user.first_name.present? %>
         <li> 氏名: <%= @user.first_name %><%= @user.last_name %></li>
         <li> 郵便番号: <%= @user.post_code %></li>
         <li> 電話番号: <%= @user.phone_number %></li>
         <li> ユーザー名: <%= @user.user_name %></li>
         <li> Email:  <%= @user.email %></li>
         <% end %>
     </div>
   </div>
    <div align="right">
    	<P> ※登録情報は配送時に使用します。</P>
	    <ul>
 	      <li></li><button type="button" class="btn btn-primary ">注文履歴</button></li>
	      <li><button type="button" class="btn btn-primary ">登録情報編集</button></li>
	      <li><button type="button" class="btn btn-primary ">お問い合わせ</button></li>
	        <%= link_to "logout",  destroy_user_session_path, method: :delete,class:"glyphicon glyphicon-log-out logout" %>
	    </ul>
    </div>
   
  <h2> お気に入り一覧</h2>
   	<% @favorites.each do |favorite| %>
	  <div class="eachFavarites">
	    <%= link_to category_path(favorite.id) do %>
		  <%= attachment_image_tag category.cds.last, :cd_image, :fill, 100, 100, fallback: "no_image.jpg" %>
		<% end %>
		<p><%= link_to category.category_name, category_path(category.id) %></p>
	   </div>
	 <% end %>
</div>
