
<div class="container">
   <div class="row">
   	 <div class="col-lg-8">
       <h2> マイページ</h2>
       <% if @user.first_name.present? %>
         <li> 氏名: <%= @user.first_name %><%= @user.last_name %></li>
         <li> 郵便番号: <%= @user.post_code %></li>
         <li> 電話番号: <%= @user.phone_number %></li>
         <li> ユーザー名: <%= @user.user_name %></li>
         <li> Email:  <%= @user.email %></li>
         <% end %>
         <P> ※登録情報は配送時に使用します。</P>
     </div>
    <div class="col-lg-4">
 	      <button type="button" class="btn btn-default"><%= link_to "注文履歴", root_path %></button><br>
	      <button type="button" class="btn btn-default"><%= link_to "登録情報編集", edit_user_path(current_user) %></button><br>
	      <button type="button" class="btn btn-default"><%= link_to "お問い合わせ", new_inquiry_path %></button><br>
    </div>
  </div>
</div>

<div class="container">
   <div class="row">
     <div class="col-lg-12">
  <h2> お気に入り一覧</h2>
   	<% @user.favorites.reverse_order.each do |f| %>
    <div class="eachFavarites">
      <div>
      <%= link_to cd_path(f.cd.id) do %>
        <%= attachment_image_tag f.cd, :cd_image, :fill, 200, 200, fallback: "/images/no_image.jpg" %>
      <% end %>
      </div>
      <div>
       <%= link_to f.cd.cd_title, cd_path(f.cd) %>
      </div>
     </div>
   <% end %>
</div>
</div>
</div>

<style>
  .eachFavarites {
    display: inline-block;
  }
</style>