<div class="blank">
</div>
<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
  <div class="col-xs-6">
    <h2>DEVISE Log in</h2>
   <div class="center-block">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  <%= link_to " 新規登録",  new_user_registration_path, class:'btn btn-default' %> 
  <%= f.submit "ログイン", class:"btn btn-default" %>
 
<% end %>
</div>

<style>
  .blank {
    height: 100px;
    width:100% ;
  }
</style>