<div class="container">
	<div clas="row">
	<h1>「<%= params[:q][:cd_title_cont] %>」検索結果</h1>
	<% if @search_cds.present? %>
		<% @search_cds.each do |result| %>
			<div class="col-lg-4 inline-block">
				<div>
				<%= attachment_image_tag(result, :cd_image, :fill, 300, 300) %>
				</div>
				<h2><%= result.cd_title %></h2>
				<div>

					<% if current_cart.cart_items.find_by(cd_id: result.id).present? %>
							<div class="itemInCartNotif">
								<p>This product is alredy in your cart!</p>
							</div>
							<% itemInCart = current_cart.cart_items.find_by(cd_id: result.id) %>
							<%= form_for(itemInCart) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
						<% else %>
							<%= form_for(@cart_item) do |f| %>
							<%= render 'layouts/error_messages', model: f.object %>
								<div class="inline-block">
									<p>数量: <%= f.number_field :quantity, class: "quantity-field" %></p>
								</div>
								<%= f.hidden_field :cd_id, value: result.id %>
								<%= f.hidden_field :cart_id, value: current_cart.id %>
								<div class="inline-block">
									<%= button_tag type: 'submit', method: :post, url: cart_items_path, class: "btn" do %>
										<i class="fas fa-cart-arrow-down" style="font-size:30px;"></i>
									<% end %>
								</div>
							<% end %>
						<% end %>
				</div>
			</div>
		<% end %>
	<% else %>
	<h1>No Match</h1>
	<% end %>
</div>
</div>

<div class="container">
	<div clas="row">
		<div class="col-lg-2">
			<%= link_to "CD一覧に戻る", cds_path, class: "btn btn-default" %>
		</div>
		<div class="col-lg-10">
		</div>
	</div>
</div>
</div>


<style>
	.ReplyForm, .EditForm {
		display: none;
	}
	.inline-block {
		display: inline-block;
	}
	.quantity-field {
		width: 50px;
		border-radius: 3px;
	}
	.itemInCartNotif {
		background-color: pink;
		padding: 5px 10px 0 10px;
	}
</style>