<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading"><%= link_to "ジャンルで探す",'/categories' %></div>
					<div class="panel-body">
						<% @categories.each do |category| %>
						<tr>
							<li><%= link_to category.category_name, category_path(category.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">ピックアップ</div>
					<div class="panel-body">
						<% @pickups.each do |pickup| %>
						<tr>
							<li><%= link_to pickup.pickup_title, pickup_path(pickup.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<img src="assets/Sensualidad.jpg" class="img-responsive img-rounded">

				<div class="panel panel-default">
					<div class="panel-heading">新着音楽</div>
<div class="container">
	<div clas="row">
		<% @cds.each do |cd| %>
		<%= link_to cd_path(cd) do %>
		<div class="col-lg-3 newCd">
			<%= attachment_image_tag(cd, :cd_image, :fill, 200, 200) %><br>
			<strong><%= cd.cd_title %></strong>
			<p><%= link_to cd.artist.artist_name, artist_path(cd.artist.id) %><br>
				価格: ¥ <%= cd.price %><br>
			<% if user_signed_in? && current_user.admin?  %>
				在庫数: <%= cd.stock %></p>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>
</div>
					<div class="panel-body">
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">新着コメント</div>
					<div class="panel-body">
						<% @comments.each do |c| %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<style>
	.newCd {
		display: inline-block;
	}
</style>