<div class="body">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default">
					<div class="panel-heading"><%= link_to "ジャンルで探す",'/categories' %></div>
					<div class="panel-body">
						<% @categories.each do |category| %>
						<tr>
							<li><%= link_to category.category_name, category_path(category.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">ピックアップ</div>
					<div class="panel-body">
						<% @pickups.each do |pickup| %>
						<tr>
							<li><%= link_to pickup.pickup_title, pickup_path(pickup.id) %></li>
						</tr>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<img src="assets/Sensualidad.jpg" class="img-responsive img-rounded">
				<div class="top-menu">
					<div class="panel panel-default">
						<div class="panel-heading">新着音楽</div>
						<div class="panel-body">
							<% @cds.each do |cd| %>
							<div class="cd">
								<%= link_to attachment_image_tag(cd, :cd_image, :fill, 250, 250, class: "img-responsive img-rounded"), cd_path(cd.id) %>
								<p><%= link_to cd.cd_title, cd_path(cd.id) %></p>
								<p><%= link_to cd.artist.artist_name, artist_path(cd.artist.id) %></p>
								<p>価格: <%= cd.price %></p>
							</div>
							<% end %>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">新着コメント</div>
						<div class="panel-body">
							<% @comments.each do |comment| %>
							<div class="cd text-left">
								<%= link_to attachment_image_tag(comment.cd, :cd_image, :fill, 250, 250, class: "img-responsive img-rounded"), cd_path(comment.cd.id) %>
								<p><strong><%= comment.user.user_name %></strong> | <%= comment.comment_body %></p>
							</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
.top-menu{
	margin-top: 20px;
}
.cd{
	float: left;
	margin: 0px 5px 0px 5px;
}
p{
	width: 250px;
	text-align: center;
}
.text-left p {
	text-align: left;
	padding-left: 10px;
}
</style>
