<div class="container">
	<h1>カテゴリー一覧</h1>
	<% if @categories.present? %>
		<div clas="row">
			<div class="col-lg-4">
				<% @categories.each do |category| %>
				<% if category.id % 3 == 0 %>
				<div class="eachCategory">
					<%= link_to category_path(category.id) do %>
					<%= attachment_image_tag(category.cds.last, :cd_image, :fill, 210, 210, format: "jpg", fallback: "/images/no_image.jpg", size: '100X100') %>
					<% end %>
					<h1><%= link_to category.category_name, category_path(category.id) %></h1>
				</div>
				<% end %>
				<% end %>
			</div>
			<div class="col-lg-4">
				<% @categories.each do |category| %>
				<% if category.id % 3 == 2 %>
				<div class="eachCategory">
					<%= link_to category_path(category.id) do %>
					<%= attachment_image_tag(category.cds.last, :cd_image, :fill, 210, 210, format: "jpg", fallback: "/images/no_image.jpg", size: '100X100') %>
					<% end %>
					<h1><%= link_to category.category_name, category_path(category.id) %></h1>
				</div>
				<% end %>
				<% end %>
			</div>
			<div class="col-lg-4">
				<% @categories.each do |category| %>
				<% if category.id % 3 == 1 %>
				<div class="eachCategory">
					<%= link_to category_path(category.id) do %>
					<%= attachment_image_tag(category.cds.last, :cd_image, :fill, 210, 210, format: "jpg", fallback: "/images/no_image.jpg", size: '100X100') %>
					<% end %>
					<h1><%= link_to category.category_name, category_path(category.id) %></h1>
				</div>
				<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
<div class="container">
	<div clas="row">
		<div class="col-lg-2">
			<%= link_to "戻る", root_path, class: "btn btn-default" %>
		</div>
		<div class="col-lg-10">
		</div>
	</div>
</div>

<style>
	.eachCategory {
		height: 300px;
		display: inline-block;
		position: relative;
	}
	.eachCategory h1 a {
		position: absolute;
		top: 0px;
		color: white;
		background-color: black;
		opacity: 0.8;
		padding: 10px 5px;
		width: 210px;
		text-decoration: none;
	}
	.eachCategory h1 a:hover {
		opacity: 0.5;
	}
</style>
