<div class=sample>
  <h2>お問い合わせ一覧</h2>
</div>
<table class="table">
<thead>
  <tr>
    <th>id</th>
    <th>お問い合わせ日時</th> 
    <th>ユーザー名</th> 
    <th>お問い合わせカテゴリー</th> 
    <th>内容</th> 
    <th>詳細</th>
    <th>削除</th> 
  </tr>
</thead>  
  
<tbody>
  <% @inquiries.each do |inquiry| %>
  <tr>
     <th><%= inquiry.created_at %></th>
     
     <th><%= inquiry.user.created_at %></th>
     <th><%= inquiry.user.user_name %></th>
     <th><%= inquiry.inquiry_category %></th>
     <th><%= inquiry.inquiry_body %></th>
   
     <th><%= link_to 'show', inquiry_path(inquiry.id) %></th>
     <th><%= link_to 'Destroy', inquiry_path(inquiry.id), method: :delete, data: { confirm: 'Are you sure?' } %></th>
     </tr>
     <% end %>
</tbody>
</table>
</table>

