<div class=sample>
  <h2>お問い合わせ一覧</h2>
</div>
<table class="table">
<thead>
  <tr>
    <th>id</th>
    <th>お問い合わせ日時</th> 
    <th>ユーザー名</th> 
    <th>お問い合わせカテゴリー</th> 
    <th>内容</th> 
    <th>削除</th> 
  </tr>
</thead>  
  
<tbody>
  <% @inquiries.each do |inquiry| %>
  <tr>
     <th><%= inquiry.created_at %></th>
     <th><%= inquiry. %></th>
     <th><%= user.first_name %></th>
     <th><%= user.last_name_kana %></th>
     <th><%= user.first_name_kana %></th>
     <th><%= user.email %></th>
     <th><%= user.created_at %></th>
     
     <th><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></th>
     </tr>
     <% end %>
</tbody>
</table>
</table>

