<div class body>
    <div class container>
        <div class "row">
            <h2> 問い合わせ詳細</h2>
            <div class= "col-lg-9">
                <p>ユーザー名<%= @inquiry.user.user_name %></p>
                <p>ユーザーID <%=@inquiry.user_id %></p>
                <P>Email <%= @inquiry.inquiry_email %></P>
                <P>カテゴリー<%= @inquiry.inquiry_category %></P>
                <P> 内容 <%= @inquiry.inquiry_body %></P> 
                <P>問い合わせID </P>
            </div>
        </div>
    </div>
</div>
