<!DOCTYPE html>
<html>
<head>
  <title>EcCd</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
  <style>
    main {
      margin: 50px 0;
    }
  </style>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
      <nav class="nav navbar-nav navbar-left">
        <span style="color:white;font-size:x-large;">logo</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right" style="color: white;">
          <li><%= link_to "About",'/about' %> </li>
          <li><%= render 'layouts/search', {search: @search} %></li>
          <li><%= link_to "カート",'/cart'%> <li>
          <% if user_signed_in? %>
          <li><%= current_user.id %><%= current_user.email %></li>
          <li><%= link_to "ログアウト", logout_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
    </div>
  </div>
</header>

<main>
  <%= yield %>
</main>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <ul class="list-inline">
          <li class="list-inline-item">Home</li>
          <li class="list-inline-item">About</li>
          <li class="list-inline-item">@copyright</li>
          <li class="list-inline-item">お問い合わせ</li>
          
        </ul>
      </div>
    </div>
  </div>
  </footer>

</body>
</html>
