<!DOCTYPE html>
<html>
<head>
  <title>EcCd</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <span style="color:white;font-size:x-large;">logo</span>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li>About</li>
          <li>検索</li>
          <li>カート(X)</li>
          <li>ユーザー名</li>
          <li>ログアウト</li>
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <ul class="list-inline">
          <li class="list-inline-item">Home</li>
          <li class="list-inline-item">About</li>
          <li class="list-inline-item">@copyright</li>
          <li class="list-inline-item">お問い合わせ</li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>
